<div id="<%= dom_id stock %>">
  <% @results = get_stock_data(stock) %>
  <% @stock_data = @results['data'] %>
  <% @error = @results['error'] %>
  <% if @stock_data %>
    <div><%=@stock_data.company_name%></div>
    <div><%=@stock_data.symbol%></div>
    <div><%=@stock_data.latest_price%></div>
  <% else %>
    <div><%= @error %></div>
  <% end %>
</div>
